.skills {
    background-color: #63d6a2;

    &__content {
        -webkit-box-sizing: border-box;
        width: 100%;
        max-width: 84.25rem;
        padding: 4rem 2rem;
        margin: 0 auto;
        height: 65rem;       
    }

    &__container {
        display: flex;
        flex-flow: column wrap;
        align-content: space-around;
        height: calc(100% - (1.8rem + 1px));
    }

    &__tech-stacks {
        -webkit-box-sizing: border-box;
        flex-shrink: 0;
        width: 25rem;
        padding: 1.5rem;
        margin: 0 auto 2rem;
        border-radius: 1rem;
        background-color: #fff;   
        -webkit-box-shadow: 1rem 1rem 1rem 0 rgb(68 68 68 / 20%);  
    }

    &__title {
        padding-bottom: 0.5rem;
        margin-bottom: 1.5rem;
        border-bottom: 1px solid #ccc;
        font-weight: 700;
        font-size: 1.5rem;
        color: #04c494;       
    }

    &__img {
        display: block;
        width: 100%;
    }

    @media (max-width: 1350px) {
        &__content {
            height: 102rem;
        }
    }

    @media (max-width: 890px) {
        &__content {
            height: 125rem;
        }

        &__tech-stacks {
            width: 19rem;
        }
    }
}